In [64]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from random import randrange
%matplotlib inline

In [65]:
Boston = pd.read_csv("/home/techfield/class/Presentations/Boston_Presentation/train.csv")

In [66]:
Boston.shape

(333, 15)

In [67]:
#chas and rad will be dummies, as chas is a 0 or 1 and rad is a code

Boston = Boston.drop(columns = ["ID"])
Boston = pd.get_dummies(Boston,columns = ["chas","rad"])

In [68]:
#Going to use Train-Validate-Test Model, so lets get our data from each

seed = 10
train1=Boston.sample(frac=.6,random_state = seed)
training_target = train1['medv']
train= train1.drop("medv",axis=1)

validate_test = Boston.loc[~Boston.index.isin(train1.index)]

validate_origin = validate_test.sample(frac=.5,random_state = seed )
validate1 = validate_origin.drop("medv",axis=1)
validate_target = validate_origin['medv']
validate = validate1

test = validate_test.loc[~validate_test.index.isin(validate_origin.index)]
test_no_y = test.drop("medv",axis=1)
test_target = test['medv']

In [69]:
test_no_y.shape

(67, 22)

In [70]:
validate_target.shape

(66,)

We will find our best hyperparameter L2

In [71]:
#Training R2
I_reg = np.identity(23)
I_reg[0,0] = 0
R2_old = 0

for lambda2 in range(100):

    X = np.column_stack((np.ones((200,1)),train)) #200 x 23 Matrix
    y = training_target #size is (200,)
    w = np.linalg.solve(X.T.dot(X) + lambda2*I_reg, X.T.dot(y)) #Our weights for testing on the test set
    y_hat = X.dot(w)

    R2 = 1 - np.sum((y-y_hat)**2)/np.sum((y-y.mean())**2) #Gets our R^2
 
    
    #Validate R_2
    X = np.column_stack((np.ones((66,1)),validate)) #66 x 23 Matrix
    y = validate_target #size is (66,)
    y_hat = X.dot(w) #size is (66,)

    R2 = 1 - np.sum((y-y_hat)**2)/np.sum((y-y.mean())**2) #Gets our R^2
    if R2 > R2_old:
        R2_old = R2
        lambda2_real = lambda2

In [72]:
R2_old

0.690344823906342

In [73]:
lambda2_real

0

#I tested a number of different lambda2 values just to make sure that my code wasn't messed up and giving e a 0 for my lambda 2 when it should have been a higher number, and a lambda of 0 was indeed what got me the highest R^2

In [74]:
#Finnally, we will use the tset data set to find our final R^2

In [75]:
X = np.column_stack((np.ones((67,1)),test_no_y)) #66 x 23 Matrix
y = test_target #size is (66,)
y_hat = X.dot(w) #size is (66,)
R2 = 1 - np.sum((y-y_hat)**2)/np.sum((y-y.mean())**2) #Gets our R^2
R2

0.5751624776475857

In [76]:
w

array([ 3.75432676e+01, -5.53068023e-02,  5.26973299e-02, -3.99692530e-03,
       -3.90747459e-02,  1.66862015e+00, -2.01632682e-02, -1.15798118e+00,
       -4.46000073e-03, -7.07918237e-01,  1.00422540e-02, -6.98230657e-01,
       -3.64016612e-01,  3.64016612e-01, -1.79888715e-01, -1.18161920e-01,
        2.84576084e-01, -4.30395573e-01, -3.06853323e-02, -2.71913629e-01,
        2.14534231e-01,  1.79157677e-01,  3.52777177e-01])

In [39]:
Bost_list = list(Boston)
Bost_list.remove("medv")
len(Bost_list)

22

In [44]:
w=w.tolist()

In [46]:
w.pop(0)

37.543267554387086

In [49]:
len(w)

22

In [57]:
df = pd.DataFrame(np.array(w).reshape(1,22), columns = Bost_list)
df

,crim,zn,indus,nox,rm,age,dis,tax,ptratio,black,...,chas_1,rad_1,rad_2,rad_3,rad_4,rad_5,rad_6,rad_7,rad_8,rad_24
0,-0.055307,0.052697,-0.003997,-0.039075,1.66862,-0.020163,-1.157981,-0.00446,-0.707918,0.010042,...,0.364017,-0.179889,-0.118162,0.284576,-0.430396,-0.030685,-0.271914,0.214534,0.179158,0.352777

In [58]:
#df.to_csv(r'/home/techfield/class/Presentations/w.csv')

In [63]:
w.sort()
w

[-1.1579811844014543,
 -0.707918236641066,
 -0.6982306568981436,
 -0.4303955733093004,
 -0.36401661242959693,
 -0.2719136289177939,
 -0.17988871527914357,
 -0.11816191976137602,
 -0.05530680228481874,
 -0.03907474593069807,
 -0.030685332277869744,
 -0.02016326823446384,
 -0.004460000725918546,
 -0.003996925303254512,
 0.010042253972378738,
 0.052697329935263985,
 0.17915767651750572,
 0.21453423131285856,
 0.2845760844920248,
 0.35277717722313157,
 0.36401661242962335,
 1.6686201534656209]